html,
body {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #006bff;
	padding: 1vh 0;

	&__title {
		color: #fff;
		height: 5vh;
		text-align: center;
	}
}

.count-down-timer {
	margin: 1rem;
	font-size: 3rem;
	position: relative;
	left: 52rem;
}
.questions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	&__list {
		width: 26rem;

		fieldset {
			min-height: 10rem;

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			justify-content: flex-start;
			align-items: center;
		}

		button {
			$hoverBackGroundColor: red;
			margin: 1%;
			border: none;

			background: linear-gradient(
						45deg,
						$hoverBackGroundColor 50%,
						transparent 0
					)
					right / 250% 100% no-repeat,
				linear-gradient(45deg, transparent 50%, $hoverBackGroundColor 0)
					left / 250% 100% no-repeat;
			background-color: green;
			transition: 0.5s;
			color: #fff;

			&:hover {
				background-position: center;
			}
		}
	}

	&__question {
		width: 65vw;

		li {
			position: relative;

			&::before {
				display: inline-block;
				width: 1rem;
			}

			input {
				position: absolute;
				left: -2.75rem;
			}
		}
	}

	fieldset {
		border-radius: 1rem;
	}
}
