@import "components/color.scss";

html,
body {
	margin: 0;
	padding: 0;
}

.header {
	background-color: #006bff;
	padding: 1vh 0;

	&__title {
		color: #fff;
		height: 5vh;
		text-align: center;
	}
}

.count-down-timer {
	margin: 1rem;
	font-size: 3rem;
	position: relative;
	display: inline-block;
	left: 52rem;
}
.questions {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	transition: 0.5s;

	&__list {
		min-height: 10rem;
		width: 26rem;

		display: flex;
		flex-direction: row;
		flex-wrap: wrap;

		justify-content: flex-start;
		align-items: center;
	}

	&__num {
		margin: 1%;
		border: 0.5px solid map-get($map: $button, $key: border-color);

		background: linear-gradient(
					45deg,
					map-get($button, black-background) 50%,
					transparent 0
				)
				right / 250% 100% no-repeat,
			linear-gradient(
					45deg,
					transparent 50%,
					map-get($button, black-background) 0
				)
				left / 250% 100% no-repeat;
		background-color: map-get($button, white-background);
		transition: 0.5s;
		color: map-get($map: $button, $key: black-font);

		&:hover {
			background-position: center;
			color: map-get($map: $button, $key: white-font);
		}

		&--selecting {
			background-color: map-get(
				$map: $button,
				$key: selecting-background
			);
		}

		&--done {
			background-color: map-get($map: $button, $key: done-background);
		}
	}

	&__question {
		min-height: 10rem;
		width: 65vw;

		li {
			position: relative;

			&::before {
				display: inline-block;
				width: 1rem;
			}

			input {
				position: absolute;
				left: -2.75rem;
			}
		}
	}

	fieldset {
		border-radius: 1rem;
	}
}
