$button: (
	black-background: #000,
	white-background: #fff,
	border-color: #a0a0a0,
	black-font: black,
	white-font: white,
	selecting-background: #0f0,
	done-background: yellow,
);

$notifi: (
	grey-background: rgba(55, 48, 48, 0.75),
	content-border: rgb(165, 146, 146),
	content-background: white,
	close-btn-background: red,
	close-btn-text-color: white,
);
