$button: (
	black-background: black,
	white-background: white,
	border-color: #a0a0a0,
	black-font: black,
	white-font: white,
	selecting-background: #0f0,
	done-background: yellow,
	true: rgb(0, 255, 0),
	false: red,
);

$notifi: (
	grey-background: rgba(55, 48, 48, 0.75),
	content-border: rgb(165, 146, 146),
	content-background: white,
	close-btn-background: red,
	close-btn-text-color: white,
);

$mark-shower: (
	background-color: rgba(84, 84, 84, 0.75),
	content-background: white,
);
